# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
instance/
.local/


# If you are using Django's file-based caches
cache/

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/
.venv/

# macOS
.DS_Store

# Visual Studio Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Migrations
**/migrations/*

# Node
node_modules/
npm-debug.log
yarn-error.log

# Coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
*.py,cover

settings.py
media/