

{% extends 'base.html' %}

{% block content %}
<style>
    input, textarea{
        padding:0.5rem 1rem;
        border:1px solid rgba(229, 231, 235, 1);
        border-radius: .5rem;
        width: 100%;
        margin: 0;
    }
    input, textarea {
  @apply w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
}
</style>
<div class="max-w-md bg-white p-6 rounded-lg shadow-md mt-2">
    <h2 class="text-2xl font-bold text-gray-700 mb-4">Update Profile</h2>

    <form method="post" class="space-y-4">
        {% csrf_token %}
        {% for field in form %}
        <div>
          <label for="{{ field.id_for_label }}" class="block text-gray-700 font-medium mb-1">
            {{ field.label }}
          </label>
          <div class="relative">
            {{ field }}
            {% if field.errors %}
            <p class="text-red-500 text-sm absolute -bottom-5 left-0">{{ field.errors|first }}</p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
          Update Profile
        </button>
      </form>
</div>
{% endblock %}

